@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-image: url(../images/galaxy-background2.jpg);
  color: #e8e8ed;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  border-top: 2px dashed #e8e8ed;
  border-bottom: 2px dashed #e8e8ed;
  margin: 25px 0px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 84%;
}

li {
  border: 2px solid white;
  border-radius: 10px;
  padding: 7px 5px;
  background-color: red;
}

a {
  color: white;
  text-decoration: none;
}

.gameframe {
  background-color: #2f2f33;
  border: 3px solid white;
  width: 500px;
  height: 500px;
  margin: 40px 0px;
  display: flex;
  flex-direction: row;

}
.static-shape {
  position: absolute
}

ul li:hover{
  background-color: black;
}

.flashing-shape {
  position: absolute;
}
.static-red {
  width: 0;
  height: 0;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-top: 250px solid red;
}
.static-blue {
  width: 0;
  height: 0;
  border-top: 250px solid transparent;
	border-bottom: 250px solid transparent;
	border-right: 250px solid blue;
  margin-left: 250px;
}
.static-green {
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 250px solid green;
  margin-top: 250px;
}
.static-yellow {
  width: 0;
  height: 0;
  border-top: 250px solid transparent;
	border-bottom: 250px solid transparent;
	border-left: 250px solid yellow;
}
.flashing-red {
  width: 0;
  height: 0;
	border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-top: 125px solid blue;
  margin-top: 125px;
  margin-left: 125px
}
.flashing-yellow {
  width: 0;
  height: 0;
  border-top: 125px solid transparent;
	border-bottom: 125px solid transparent;
	border-left: 125px solid red;
  margin-top: 125px;
  margin-left: 125px
}
.flashing-green {
  width: 0;
  height: 0;
  border-left: 125px solid transparent;
	border-right: 125px solid transparent;
	border-bottom: 125px solid yellow;
  margin-top: 250px;
  margin-left: 125px;

}
.flashing-blue {
  width: 0;
  height: 0;
  border-top: 125px solid transparent;
	border-bottom: 125px solid transparent;
	border-right: 125px solid green;
  margin-top: 125px;
  margin-left: 250px;

}

/*LARGE RED TRIANGLE FLASH*/

.red-flash-yellow {
  border-top-color: yellow;
}

.red-flash-red {
  border-top-color: red;
}

.red-flash-blue {
  border-top-color: blue;
}

.red-flash-green {
  border-top-color: green;
}

/*LARGE BLUE TRIANGLE FLASH*/

.blue-flash-yellow {
  border-right-color: yellow;
}

.blue-flash-red {
  border-right-color: red;

}

.blue-flash-blue {
  border-right-color: blue;PI

}

.blue-flash-green {
  border-right-color: green;

}

/*LARGE GREEN TRIANGLE FLASH*/

.green-flash-yellow {
border-bottom-color: yellow;
}

.green-flash-red {
border-bottom-color: red;
}

.green-flash-blue {
border-bottom-color: blue;
}

.green-flash-green {
border-bottom-color: green;
}

/*LARGE YELLOW TRIANGLE FLASH*/

.yellow-flash-yellow {
  border-left-color: yellow;
}

.yellow-flash-red {
  border-left-color: red;
}

.yellow-flash-blue {
  border-left-color: blue;
}

.yellow-flash-green {
  border-left-color: green;
}



/*ID SELECTORS*/

#instr {

}

#start {

}

#user {

}

#lives {

}

#score {

}

/*const colors = ["backgroundyellow", "backgroundBlue, backgroundRed, backgroundGreen"];

setInterval(function(){
// here do a math random based on the length of the array to pick a string
    $(".flashing-red").toggleClass("backgroundyellow");
}, 100)*/
