@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-image: url(../images/galaxy-background2.jpg);
  color: #e8e8ed;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  border-top: 2px dashed #e8e8ed;
  border-bottom: 2px dashed #e8e8ed;
  margin: 25px 0px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 84%;
}

li {
  border: 2px solid white;
  border-radius: 10px;
  padding: 7px 5px;
  background-color: red;
}

a {
  color: white;
  text-decoration: none;
}

.gameframe {
  background-color: #2f2f33;
  border: 3px solid white;
  width: 500px;
  height: 500px;
  margin: 40px 0px;
  display: flex;
  flex-direction: row;

}
.static-shape{
  position: absolute
}

.static-red {
  width: 0;
  height: 0;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-top: 250px solid red;
}
.static-blue {
  width: 0;
  height: 0;
  border-top: 250px solid transparent;
	border-bottom: 250px solid transparent;
	border-right: 250px solid blue;
  margin-left: 250px;
}
.static-green {
  width: 0;
  height: 0;
  border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 250px solid green;
  margin-top: 250px;
}
.static-pink {
  width: 0;
  height: 0;
  border-top: 250px solid transparent;
	border-bottom: 250px solid transparent;
	border-left: 250px solid pink;
}
.flashing-red {
  border: 1px solid black;
  background-color: red;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 234px;
  margin-left: 200px
}
.flashing-blue {
  border: 1px solid black;
  background-color: blue;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 200px;
  margin-left: 233px;

}
.flashing-green {
  border: 1px solid black;
  background-color: green;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 234px;
  margin-left: 267px;

}
.flashing-pink {
  border: 1px solid black;
  background-color: pink;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-top: 267px;
  margin-left: 233px;

}

/*ID SELECTORS*/

#instr {

}

#start {

}

#user {

}

#lives {

}

#score {

}
