@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-image: url(../images/galaxy-background2.jpg);
  color: #e8e8ed;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  border-top: 2px dashed #e8e8ed;
  border-bottom: 2px dashed #e8e8ed;
  margin: 25px 0px;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 84%;
}

li {
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: red;
}

.gameframe {
  background-color: #2f2f33;
  border: 3px solid white;
  width: 500px;
  height: 500px;
  margin: 40px 0px;
}

/*ID SELECTORS*/

#instr {

}

#start {

}

#user {

}

#lives {

}

#score {

}
